@charset "utf-8";

@import url(./reset.css);
@import url(./base.css);
@import url(./fonts.css);

/*  */
::-webkit-scrollbar {
	display:none;
}
::-webkit-inner-spin-button {
	display:none;
}
body {
	font-family: 'SUITE-Regular';
}

#wrap {
	width:100%;
	height:100vh;
	
}

#content-wrap {
	width:100%;
	height:100%;
	background:url(../images/game/main-bg.png) no-repeat 0 0 / 100% 100vh;
	background-color: rgba(0,0,0,.85);
	background-blend-mode: multiply;
}
#start-page {
	width:100%;
	height:100vh;
	text-align: center;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	gap:40px;
}
#start-page #letter-wrap {
	position:absolute;
	left:50%;
	top:30%;
	transform: translateX(-50%);
	background-image: url(../images/game/letter.png);
	background-repeat: no-repeat;
	background-size:100%;
	background-position: 50% 50%;
	width:11%;
	height:110px;
	animation: letterAni 3s linear infinite;
	cursor: pointer;
}
@keyframes letterAni {
	0% {background-image: url(../images/game/letter.png);}
	50% {background-image: url(../images/game/letter_bright.png);}
	100% {background-image: url(../images/game/letter.png);}
}
#start-page #letter-wrap.moveLetter {
	animation:moveLetter 3s linear forwards;
}
@keyframes moveLetter {
	0% {
		left:50%;
		top:30%;
		
	}
	50% {
		top:25%;
		left:34%;
		transform: rotate(-15deg);
	}
	100% {
		left: 15%;
		top: 61%;
	}
}
#start-page .typing-effect {
	font-family: "BookkMyungjo-Lt";
	font-weight: 300;
	color: var(--typingFontColor);
	display: inline-flex;
	border: 1px solid #ec303a;
	border-left: none;
	border-right: none;
	padding: 4px 0;
}
#start-page .typing-effect .type-wrap {
	border: 1px solid #ec303a80;
	min-width: 60px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#start-page .typing-effect .type-wrap span {
	font-size: clamp(1.75rem, 1.5769rem + 0.7692vw, 2.5rem);
}
#start-page .sub-title {
	font-family: "Cafe24Shiningstar";
	font-size: 28px;
	color: var(--subtitleFontColor);
	letter-spacing: 5px;
}
.fadeOut {
	animation: fadeOut 3s linear forwards;
}
@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

/* main-page */
#main-page {
	position: fixed;
	display:none;
	top:0;
	left:0;
	width:100%;
	height:100vh;
}
#main-page #letter {
	position:absolute;
	left: 15%;
	top: 61%;
	transform: translateX(-50%);
	background-image: url(../images/game/letter.png);
	background-repeat: no-repeat;
	background-size:100%;
	background-position: 50% 50%;
	width:11%;
	height:110px;
	cursor: pointer;
	animation: letterAni 3s linear infinite;
}

#main-page #writer-letter {
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background-color: rgba(0,0,0,0.85);
	backdrop-filter: blur(4px);
	z-index: 10;
	display:none;
}

#main-page #writer-letter .letter-wrapper {
	position: relative;
    max-width: 800px;
	width:40%;
	min-width: 300px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#main-page .letter-wrapper .writerpad-wrapper {
	position: absolute;
	width:80%;
	left:50%;
	bottom:10%;
	transform: translateX(-50%);
}
#main-page .writerpad-wrapper textarea {
	background-color: transparent;
	resize: none;
	border: none;
	position: absolute;
	top: 225px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	font-family: 'SUITE-Regular';
	font-size: 19px;
	line-height: 2.3;
}
textarea:focus {
	outline: none;
}
#main-page .letter-wrapper .letter-back {
	width:105%;
	position:absolute;
	bottom:-9%;
	left:50%;
	transform: translateX(-50%);
}

#main-page .letter-wrapper .letter-front {
	width:100%;
	position:absolute;
	bottom:-20%;
}

#main-page .letter-wrapper .btn-complete {
	position: absolute;
	left:50%;
	bottom:20px;
	transform: translateX(-50%);
}
#main-page #writed-letter {
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background-color: rgba(0,0,0,0.85);
	z-index: 10;
	display:none;
}

#main-page #writed-letter .writed-wrap {
	position: relative;
    max-width: 800px;
	width:40%;
	min-width: 300px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#main-page #writed-letter .writed-img {
	position: absolute;
	width:80%;
	left:50%;
	bottom:10%;
	transform: translateX(-50%);
}

#main-page #writed-letter .btn-wrap{
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	gap:6px;
	position:absolute;
	left:50%;
	bottom:30px;
	transform: translateX(-50%);
}
#main-page #writer-letter .change-pad {
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	gap: 40%;
	top: 16%;
}

#main-page .change-pad .prev-btn {
	width:40px;
	display:inline-block;
} 
#main-page .change-pad .next-btn {
	width:40px;
	display:inline-block;
} 

#send-letter {
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background-color: rgba(0,0,0,0.85);
	z-index: 10;
	display:none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap:40px;
}
#send-letter .send-letter-wrap {
	position: relative;
	display:flex;
	align-items: center;
	justify-content: center;
	background: url(../images/game/send-letter.png) no-repeat 0 0 / 100%;
	width:880px;
	height: 560px;
}

#send-letter .send-letter {
	width:40%;
}
#send-letter .change-sticker-wrap {
	width: 20%;
	position: absolute;
	left:50%;
	top:35%;
	transform: translateX(-50%);
	border-radius: 50%;
	box-shadow:0px 8px 20px 0px rgba(17, 17, 17, 0.70);
}

#send-letter .change-sticker {
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	gap: 40%;
	top: 47%;
}

#send-letter .change-sticker .prev-btn {
	width:40px;
	display:inline-block;
}

#send-letter .change-sticker .next-btn {
	width:40px;
	display:inline-block;
}

#send-letter .letter-title {
	position: absolute;
	padding:16px 20px;
	top:20px;
	font-family: 'SUITE-Regular';
	font-size: 24px;
	border:none;
	background-color:#671C1B66;
	border-radius: 4px;
}
#send-letter .letter-title::placeholder {
	color: #FFB1B1;
}
#send-letter .letter-title:focus {
	color: var(--whiteFontColor);
	border:1px solid #fff;
	outline: none;
}

#apply-wrap {
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background-color: rgba(0,0,0,0.85);
	z-index: 10;
	display:none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#apply-wrap .apply {
	min-width: 1000px;
	max-height: 726px;
	border:8px solid #EC303A;
	box-sizing: border-box;
	border-radius: 24px;
	background-color: var(--whiteBg);
	padding:65px 100px;
	box-shadow: 0 8px 20px 0 #111111B2;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap:30px;
	text-align: center;
}

#apply-wrap .apply .apply-title {
	color:var(--redFontColor);
	font-size: 34px ;
	font-weight: 800;
	line-height: 46px;
}
#apply-wrap .apply .apply-info {
	width: 100%;
}
#apply-wrap .apply .apply-info ul {
	width:50%;
	margin:0 auto;
	list-style: disc;
	list-style-position: inside;
}
#apply-wrap .apply .apply-info ul li {
	text-align: left;
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
	position: relative;
}
#apply-wrap .apply .apply-info ul li:last-child {
	margin-bottom: 0;
}

#apply-wrap .apply-info input {
	border:transparent;
	box-sizing: border-box;
	background-color: #F9F6F6;
	border-radius: 4px;
	font-size: 18px;
	padding:10px 15px;
	min-width: 120px;
	outline: none;
	height: 40px;
	overflow: hidden;
}

#apply-wrap .apply-info input:focus {
	outline: none;
	border:1px solid #ec303a;
	box-sizing: border-box;
}

#apply-wrap .apply-info input::placeholder {
	font-size: 18px;
	color:#000;
	font-family: 'SUITE-Regular';
	font-weight: 500;
}
.apply-agree label {
	cursor: pointer;
}
.apply-agree label:first-child {
	margin-right: 60px;
}
.apply-agree [type="radio"], .apply-agree span {
	vertical-align: middle;
}
[type="radio"] {
	appearance: none;
	background: url(../images/game/check_off.png) no-repeat 0 0 / 100%;
	width:28px;
	height: 28px;
	margin:0;
}
[type="radio"]:checked {
	background: url(../images/game/check_on.png) no-repeat 0 0 / 100%;
}
#apply-wrap .apply-desc p{
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
}

#apply-wrap .apply-desc small{
	font-weight: 400;
	line-height: 28px;
	font-size: 16px;
	color:var(--redFontColor);
}

#apply-wrap .apply-table {
	width:100%;
	text-align: center;
}
#apply-wrap .apply-table table {
	width: 100%;
}
#apply-wrap .apply-table tr:first-child {
	border-top:2px solid #000;
	border-bottom: 1px solid #00000030;
}
#apply-wrap .apply-table tr:last-child {
	border-bottom: 1px solid #00000030;
}
#apply-wrap .apply-table table td{
	width:calc(100% / 3);
	padding:12px 0;
}
#apply-wrap .apply .btn-comfirm {
	opacity: 0;
}

#main-page #total-wrap {
	position:absolute;
	left:0;
	top:5%;
	width:190px;
	height:140px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:10px;
	border:2px solid #983C41;
	border-radius: 0 24px 24px 0;
	background: url(../images/game/totalBg.png) no-repeat 0 0 / cover;
	background-color: #BE4B51;
	background-blend-mode: multiply;
	color:#fff;
	cursor: pointer;
}
#total-wrap .total-text {
	font-family: 'SUIT-Regular';
	font-weight: 700;
	font-size: 20px;
}
#total-wrap #total {
	font-family: 'SUITE-Regular';
	font-weight: 800;
	font-size:80px;
}

#total-letter {
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background-color: rgba(0,0,0,0.85);
	z-index: 10;
	display:none;
}
#total-letter .total-letter-wrap {
	height:80%;
	margin:100px 0;
	overflow-y: auto;
}
#total-letter .letter-grid {
	display:grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(3, auto);
	gap:85px;
	width:100%;
	padding:30px 0;
}
.letter-grid .letter-wrapper {
	position: relative;
	font-family: 'SUIT-Regular';
	cursor: pointer;
}
.letter-grid .letter-wrapper .letter-wrap img {
	transition: all .3s;
}
.letter-grid .letter-wrapper:hover .letter-wrap img {
	box-shadow: 0px 0px 20px 10px #6a181cde;
	;
}
.letter-grid .letter-wrap {
	max-width:250px;
	max-height:160px;
	box-shadow: 0 8px 20px #1E1919B2;
}
.letter-grid .sticker {
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	width:58px;
	height:58px;
	border-radius: 50%;
	box-shadow: 0px 8px 20px 0px #1E1919B2;
}
.letter-grid .letter-name {
	position:absolute;
	left:50%;
	top:-22px;
	transform: translateX(-50%);
	padding:7px 16px;
	font-size: 24px;
	font-weight: 700;
	color:var(--redFontColor);
	background-color: var(--whiteBg);
	border-radius: 28px;
	display:inline-block;
	text-align: center;
	white-space: nowrap;
}

.letter-grid .letter-title {
	position:absolute;
	bottom:-50px;
	transform: translateX(-50%);
	left:50%;
	font-size: 28px;
	font-weight: 400;
	color:var(--whiteFontColor);
	width:100%;
	text-align: center;
}
#total-letter .open-letter-wrap {
	display:none;
	justify-content: center;
	align-items: center;
	width:100%;
	height:100%;
}
#total-letter .open-letter-wrap .open-letter {
	width:30%;
	box-shadow: 0px 8px 20px 0px #111111B2;
}
#total-letter .open-letter-wrap  .letter-rain {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}
#total-letter .open-letter-wrap  .letter-rain > * {
	position: absolute;
	width:8%;
	box-shadow: 0px 8px 20px 0px #111111B2;
}
.open-letter-wrap  .letter-rain img:first-child {
	bottom: 50%;
	left: 31%;
	rotate: 25deg;
}
.open-letter-wrap  .letter-rain img:nth-child(2) {
	bottom: 50%;
	left: 60%;
	rotate: -15deg;
}
.open-letter-wrap  .letter-rain img:nth-child(3) {
	bottom: 50%;
	left: 24%;
	rotate: 13deg;
	animation-delay: .2s;
}
.open-letter-wrap  .letter-rain img:nth-child(4) {
	bottom: 50%;
	left:65%;
	rotate: 15deg;
	animation-delay: .2s;
}
.open-letter-wrap  .letter-rain img:nth-child(5) {
	bottom: 50%;
	left: 27%;
	rotate: -23deg;
	animation-delay: .3s;
}
.open-letter-wrap  .letter-rain img:nth-child(6) {
	bottom: 50%;
	left: 61%;
	rotate: -16deg;
	animation-delay: .3s;
}
.open-letter-wrap  .letter-rain img:nth-child(7) {
	bottom: 50%;
	left: 45%;
	rotate: 25deg;
	animation-delay: .3s;
}
.open-letter-wrap  .letter-rain img:last-child {
    bottom: 50%;
	left: 64%;
	rotate: 14deg;
	animation-delay: .3s;
}
.rain {
	animation: letterRain 1s forwards alternate;
}
@keyframes letterRain {
	100% {
		bottom:-15%;
		display:none;
	}
}
.total-prev-btn {
	position: absolute;
	left:30px;
	top:30px;
	display:inline-block;
	width:80px;
	height:80px;
}
.close-btn {
	position: absolute;
	right:30px;
	top:30px;
	display:inline-block;
	width:80px;
	height:80px;
}

#current-letter .letter {
	position: absolute;
	width:9%;
	min-width:120px;
	cursor: pointer;
}
#current-letter .letter .sticker-wrap {
	border-radius: 50%;
}
.recentletter1 {
	top:7%;
	left:29%;
}
.recentletter2 {
	top:10%;
	left:39%;
}
.recentletter3 {
	top:7%;
	left:51%;
}
.recentletter4 {
	top:10%;
	left:61%;
}
.recentletter5 {
	top:27%;
	left:33%;
}
.recentletter6 {
	top:28%;
	left:55%;
}
#current-letter .letter .name {
	position: absolute;
	left:50%;
	top:0;
	transform: translateX(-50%);
	padding: 7px 16px;
	font-family: 'SUIT-Regular';
	font-weight: 700;
	font-size: clamp(0.75rem, 0.6346rem + 0.5128vw, 1.25rem);
	white-space: nowrap;
	border-radius: 20px;
	background-color: #17BEDA;
	box-shadow: 0 0 16px #17BEDACC;
}
#current-letter .letter .name span {
	display:inline-block;
	text-align: center;
}

.current-letter-wrap {
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background-color: rgba(0,0,0,0.85);
	z-index: 10;
	display:none;
	align-items: center;
	justify-content: center;
}

.current-letter-wrap .open-current-letter {
	width:30%;
	box-shadow: 0px 8px 20px 0px #111111B2;
}
