@charset "utf-8";

@import url(./reset.css);
@import url(./base.css);
@import url(./fonts.css);

/*  */
::-webkit-scrollbar {
	display:none;
}
body {
	font-family: 'SUITE-Regular';
}

#wrap {
	width:100%;
	height:100vh;
	
}

#content-wrap {
	width:100%;
	height:100%;
	background:url(../images/game/main-bg.png) no-repeat 0 0 / 100% 100vh;
	background-color: rgba(0,0,0,.85);
	background-blend-mode: multiply;
}
#start-page {
	width:100%;
	height:100vh;
	text-align: center;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	gap:40px;
}
#start-page #letter-wrap {
	position:absolute;
	left:50%;
	top:30%;
	transform: translateX(-50%);
	background-image: url(../images/game/letter.png);
	background-repeat: no-repeat;
	background-size:100%;
	background-position: 50% 50%;
	width:11%;
	height:110px;
	animation: letterAni 3s linear infinite;
	cursor: pointer;
}
@keyframes letterAni {
	0% {background-image: url(../images/game/letter.png);}
	50% {background-image: url(../images/game/letter_bright.png);}
	100% {background-image: url(../images/game/letter.png);}
}
#start-page #letter-wrap.moveLetter {
	animation:moveLetter 3s linear forwards;
}
@keyframes moveLetter {
	0% {
		left:50%;
		top:30%;
		
	}
	50% {
		top:25%;
		left:34%;
		transform: rotate(-15deg);
	}
	100% {
		left: 15%;
		top: 61%;
	}
}
#start-page .typing-effect {
	font-family: "BookkMyungjo-Lt";
	font-weight: 300;
	color: var(--typingFontColor);
	display: inline-flex;
	border: 1px solid #ec303a;
	border-left: none;
	border-right: none;
	padding: 4px 0;
}
#start-page .typing-effect .type-wrap {
	border: 1px solid #ec303a80;
	min-width: 60px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#start-page .typing-effect .type-wrap span {
	font-size: clamp(1.75rem, 1.5769rem + 0.7692vw, 2.5rem);
}
#start-page .sub-title {
	font-family: "Cafe24Shiningstar";
	font-size: 28px;
	color: var(--subtitleFontColor);
	letter-spacing: 5px;
}
.fadeOut {
	animation: fadeOut 3s linear forwards;
}
@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

/* main-page */
#main-page {
	position: fixed;
	display:none;
	top:0;
	left:0;
	width:100%;
	height:100vh;
}
#main-page #letter {
	position:absolute;
	left: 15%;
	top: 61%;
	transform: translateX(-50%);
	background-image: url(../images/game/letter.png);
	background-repeat: no-repeat;
	background-size:100%;
	background-position: 50% 50%;
	width:11%;
	height:110px;
	cursor: pointer;
	animation: letterAni 3s linear infinite;
}

#main-page #writer-letter {
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background-color: rgba(0,0,0,0.85);
	backdrop-filter: blur(4px);
	z-index: 10;
	display:none;
}

#main-page #writer-letter .letter-wrapper {
	position: relative;
    max-width: 800px;
	width:40%;
	min-width: 300px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#main-page .letter-wrapper .writerpad-wrapper {
	position: absolute;
	width:80%;
	left:50%;
	bottom:10%;
	transform: translateX(-50%);
}
#main-page .writerpad-wrapper textarea {
	background-color: transparent;
	resize: none;
	border: none;
	position: absolute;
	top: 225px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	font-family: 'SUITE-Regular';
	font-size: 19px;
	line-height: 2.3;
}
textarea:focus {
	outline: none;
}
#main-page .letter-wrapper .letter-back {
	width:105%;
	position:absolute;
	bottom:-9%;
	left:50%;
	transform: translateX(-50%);
}

#main-page .letter-wrapper .letter-front {
	width:100%;
	position:absolute;
	bottom:-20%;
}

#main-page .letter-wrapper .btn-complete {
	position: absolute;
	left:50%;
	bottom:20px;
	transform: translateX(-50%);
}
#main-page #writed-letter {
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background-color: rgba(0,0,0,0.85);
	z-index: 10;
	display:none;
}

#main-page #writed-letter .writed-wrap {
	position: relative;
    max-width: 800px;
	width:40%;
	min-width: 300px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#main-page #writed-letter .writed-img {
	position: absolute;
	width:80%;
	left:50%;
	bottom:10%;
	transform: translateX(-50%);
}

#main-page #writed-letter .btn-wrap{
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	gap:6px;
	position:absolute;
	left:50%;
	bottom:30px;
	transform: translateX(-50%);
}
#main-page #writer-letter .change-pad {
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	gap: 40%;
	top: 16%;
}

#main-page .change-pad .prev-btn {
	width:40px;
	display:inline-block;
} 
#main-page .change-pad .next-btn {
	width:40px;
	display:inline-block;
} 

#main-page #total-wrap {
	position:absolute;
	left:0;
	top:5%;
	width:190px;
	height:140px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:10px;
	border:2px solid #983C41;
	border-radius: 0 24px 24px 0;
	background: url(../images/game/totalBg.png) no-repeat 0 0 / cover;
	background-color: #BE4B51;
	background-blend-mode: multiply;
	color:#fff;
	cursor: pointer;
}
#total-wrap .total-text {
	font-family: 'SUIT-Regular';
	font-weight: 700;
	font-size: 20px;
}
#total-wrap #total {
	font-family: 'SUITE-Regular';
	font-weight: 800;
	font-size:80px;
}

#total-letter {
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background-color: rgba(0,0,0,0.85);
	z-index: 10;
	display:none;
}
#total-letter .letter-grid {
	display:grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(3, 1fr);
	overflow-y: auto;
	gap:100px;
	width:956px;
	height:850px;
	margin:0 auto;
	padding:100px 0;
}
.letter-grid .letter-wrapper {
	position: relative;
	font-family: 'SUIT-Regular';
	cursor: pointer;
}
.letter-grid .letter-wrap {
	width:250px;
	height:160px;
	box-shadow: 0 8px 20px #1E1919B2;
}
.letter-grid .sticker {
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	width:58px;
	height:58px;
}
.letter-grid .letter-name {
	position:absolute;
	left:50%;
	top:-22px;
	transform: translateX(-50%);
	padding:7px 16px;
	font-size: 24px;
	font-weight: 700;
	color:var(--redFontColor);
	background-color: var(--whiteBg);
	border-radius: 28px;
	display:inline-block;
	text-align: center;
	white-space: nowrap;
}

.letter-grid .letter-title {
	position:absolute;
	bottom:-50px;
	transform: translateX(-50%);
	left:50%;
	font-size: 28px;
	font-weight: 400;
	color:var(--whiteFontColor);
	width:100%;
	text-align: center;
}

.close-btn {
	position: absolute;
	right:30px;
	top:30px;
	display:inline-block;
	width:80px;
	height:80px;
}

#current-letter .letter {
	position: absolute;
	width:9%;
	cursor: pointer;
}
.recentletter1 {
	top:7%;
	left:29%;
}
.recentletter2 {
	top:10%;
	left:39%;
}
.recentletter3 {
	top:7%;
	left:51%;
}
.recentletter4 {
	top:10%;
	left:61%;
}
.recentletter5 {
	top:27%;
	left:33%;
}
.recentletter6 {
	top:28%;
	left:55%;
}
#current-letter .letter .name {
	position: absolute;
	left:50%;
	top:0;
	transform: translateX(-50%);
	padding: 7px 16px;
	font-family: 'SUIT-Regular';
	font-weight: 700;
	font-size: 20px;
	border-radius: 20px;
	background-color: #17BEDA;
	box-shadow: 0 0 16px #17BEDACC;
}

#current-letter .letter .name span {
	display:inline-block;
	width:90px;
	text-align: center;
}