@charset "utf-8";

@import url(./reset.css);
@import url(./base.css);
@import url(./fonts.css);

/* 꽃 떨어지는 효과 */
#flower-wrap {
	position: fixed;
	left:0; top:0;
	width: 100%;
	height: 100%;
}
#flower-wrap > * {
	position: absolute;
	top:-10%;
	animation: rotateflower infinite, flowerfall infinite ease;
}
#flower-wrap img:first-child {
	left:15%;
	animation-duration: 15s;
}
#flower-wrap img:nth-child(2) {
	left:30%;
	animation-duration: 20s;
}
#flower-wrap img:nth-child(3) {
	left:45%;
	animation-duration: 18s;
}
#flower-wrap img:nth-child(4) {
	left:60%;
	animation-duration: 23s;
}
#flower-wrap img:nth-child(5) {
	left:75%;
	animation-duration: 21s;
}
#flower-wrap img:last-child {
	left:90%;
	animation-duration: 17s;
}
@keyframes flowerfall {
	from {
		top:-10%;
	}
	to {
		top:110%;
	}
}
@keyframes rotateflower {
	0% {rotate:0deg;}
	50% {rotate:30deg;}
	100% {rotate:0deg;}
}

/* #main CSS [S] */
#main .main-img {
	position: absolute;
	bottom: 0;
}
#main .scroll-left {
	left: 0;
	width: 45%;
	transition: all 1s ease;
	z-index: 1;
}
#main .scroll-right {
	right: 0;
	width: 62%;
	transition: all 1s ease;
	z-index: 1;
}
#main .scroll-up {
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	width: 32%;
	transition: all 1s ease;
}

/* #main CSS [E] */

/* #section1 CSS [S] */

/* #section1 [E] */

/* #section2 CSS [S] */
#section2 .img-wrap {
	position: relative;
	left:0;
	bottom:0;
	width:100%;
	height: 100%;
}
#section2 .sec2-bg {
	position: absolute;
	bottom:0;
}
#section2 .frog-wrap {
	min-width: 100px;
	max-width: 380px;
	width:20%;
	position: absolute;
	bottom: 10%;
	left: -10%;
	animation: frogAni 10s infinite linear;
}
@keyframes frogAni {
	0% {
		left:-10%;
	}
	100% {
		left:110%;
	}
}

#section2 .monkey-wrap {
	min-width: 80px;
	max-width: 170px;
	width:5%;
	position: absolute;
	bottom: 17%;
	left: 78%;
	rotate:-15deg;
	animation: monkeyAni1 3s infinite;
}
@keyframes monkeyAni1 {
	0% {
		bottom: 17%;
	}
	50% {
		bottom: 24%;
	}
	100% {
		bottom: 17%;
	}
}
/* #section2 [E] */

/* #section3 CSS [S] */
#section3 .writer-wrap {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
#section3 .intro {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 80px;
}
#section3 .intro:first-child .writer-img::after {
	content: "";
	display: block;
	background: url(../images/main/section3-writer_deco1.png) no-repeat 0 0 / cover;
	width: 106px;
	height: 137px;
	position: absolute;
	right: -55px;
	top: -20px;
	z-index: -1;
}
#section3 .intro:nth-child(2) .writer-img::before {
	content: "";
	display: block;
	background: url(../images/main/section3-writer_deco2.png) no-repeat 0 0 / cover;
	width: 120px;
	height: 141px;
	position: absolute;
	left: -70px;
	top: 35px;
}
#section3 .writer-img {
	width: 160px;
	position: relative;
}
#section3 .writer-desc {
	font-size: 14px;
	width: 700px;
}
#section3 .writer-desc dt {
	font-size: 20px;
	margin-bottom: 16px;
}
#section3 .writer-desc dt span {
	font-size: 14px;
}
#section3 .writer-desc dd {
	line-height: 1.4;
}
/* #section3 [E] */

/* #section4 CSS [S] */
#section4 .intro-wrapper {
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
#section4 .intro-wrap {
	display: flex;
	justify-content: space-between;
}
#section4 .book-wrap {
	width: 350px;
}
#section4 .book-desc {
	width: 850px;
	font-weight: 500;
}
#section4 .book-desc p:first-child {
	font-size: 24px;
	line-height: 40px;
}
#section4 .book-desc p:last-child {
	font-size: 16px;
	line-height: 32px;
}
#section4 .deco-wrap {
	position: relative;
	width: 100%;
	bottom: 0;
}
#section4 .sec4-deco1 {
	width: 660px;
	margin: 0 auto;
}
#section4 .sec4-deco2 {
	position: absolute;
	width: 90px;
	left: 34%;
	bottom: 52%;
	z-index: -1;
	animation: monkeyAni2 3s infinite;
}
@keyframes monkeyAni2 {
	0% {
		bottom: 52%;
	}
	50% {
		bottom: 66%;
	}
	100% {
		bottom: 52%;
	}
}
/* #section4 [E] */

/* #section5 CSS [S] */
/*#section5 .gameImg-wrap {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}*/
#section5 .gameImg-wrap {
	position: relative;
	top: 60px;
	width: 100%;
	height: 675px;
	background-image: url(../images/main/section5-gameImg.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	background-color: rgba(0,0,0,.85);
	background-blend-mode: multiply;
	text-align: center;
}
#section5 .letterImg {
	width: 160px;
	height: 120px;
	position: absolute;
	left: 7%;
	top: 60%;
	background-image: url(../images/main/section5-letter.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	/* animation: brightLetter 2s infinite; */
}

@keyframes brightLetter {
	0% {
		background-image: url(../images/main/section5-letter.png);
	}
	50% {
		background-image: url(../images/main/section5-letter-shadow.png);
	}
	100% {
		background-image: url(../images/main/section5-letter.png);
	}
}
#section5 .typing-effect {
	font-family: "BookkMyungjo-Lt";
	font-weight: 300;
	color: var(--typingFontColor);
	display: inline-flex;
	border: 1px solid #ec303a;
	border-left: none;
	border-right: none;
	padding: 4px 0;
	margin-top: 125px;
}
#section5 .typing-effect .type-wrap {
	border: 1px solid #ec303a80;
	min-width: 60px;
	min-height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#section5 .typing-effect .type-wrap span {
	font-size: 40px;
	opacity: 0;
	/* animation: typingEffect 12s linear infinite;
	animation-duration: 1s; */
}
#section5 .typing-effect .type-wrap span.show {
	opacity: 1;
	transition: opacity .5s ease-in-out;
}

/* #section5 .typing-effect .type-wrap:nth-child(1) span {
	animation-delay: 1s;
}

#section5 .typing-effect .type-wrap:nth-child(2) span {
	animation-delay: 2s;
}

#section5 .typing-effect .type-wrap:nth-child(3) span {
	animation-delay:3s;
}

#section5 .typing-effect .type-wrap:nth-child(4) span {
	animation-delay:4s;
}

#section5 .typing-effect .type-wrap:nth-child(5) span {
	animation-delay:5s;
}

#section5 .typing-effect .type-wrap:nth-child(6) span {
	animation-delay:6s;
}

#section5 .typing-effect .type-wrap:nth-child(7) span {
	animation-delay:7s;
}

#section5 .typing-effect .type-wrap:nth-child(8) span {
	animation-delay:8s;
}

#section5 .typing-effect .type-wrap:nth-child(9) span {
	animation-delay:9s;
}

#section5 .typing-effect .type-wrap:nth-child(10) span {
	animation-delay: 10s;
}

#section5 .typing-effect .type-wrap:nth-child(11) span {
	animation-delay: 11s;
}

#section5 .typing-effect .type-wrap:nth-child(12) span {
	animation-delay: 12s;
}
@keyframes typingEffect {
	0% { opacity: 0; }
	8.33% { opacity: 1; } 
	16.67% { opacity: 1; } 
	25% { opacity: 1; } 
	33.33% { opacity: 1; } 
	41.67% { opacity: 1; } 
	50% { opacity: 1; } 
	58.33% { opacity: 1; } 
	66.67% { opacity: 1; } 
	75% { opacity: 1; } 
	83.33% { opacity: 1; }
	91.67% { opacity: 1; }
	100% { opacity: 0; } 
} */

#section5 .sub-title {
	font-family: "Cafe24Shiningstar";
	font-size: 28px;
	color: var(--subtitleFontColor);
	margin-top: 20px;
	margin-bottom: 250px;
	letter-spacing: 5px;
}

/* #section5 [E] */
