@charset "utf-8";

@import url(./reset.css);
@import url(./base.css);
@import url(./fonts.css);

/* 꽃 떨어지는 효과 */
#flower-wrap {
	position: fixed;
	left:0; top:0;
	width: 100%;
	height: 100%;
}
#flower-wrap > * {
	position: absolute;
	top:-10%;
	animation: rotateflower infinite, flowerfall infinite linear;
}
#flower-wrap img:first-child {
	left:5%;
	animation-duration: 15s;
	animation-delay: 2s;
}
#flower-wrap img:nth-child(2) {
	left:18%;
	animation-duration: 20s;
	animation-delay: 4s;
}
#flower-wrap img:nth-child(3) {
	left:39%;
	animation-duration: 18s;
}
#flower-wrap img:nth-child(4) {
	left:56%;
	animation-duration: 23s;
}
#flower-wrap img:nth-child(5) {
	left:71%;
	animation-duration: 21s;
	animation-delay: 3s;
}
#flower-wrap img:last-child {
	left:87%;
	animation-duration: 17s;
}
@keyframes flowerfall {
	from {
		top:-10%;
	}
	to {
		top:110%;
	}
}
@keyframes rotateflower {
	0% {rotate:0deg;}
	50% {rotate:30deg;}
	100% {rotate:0deg;}
}

/* #main CSS [S] */
#main .main-img {
	position: absolute;
	bottom: 0;
}
#main .scroll-left {
	left: 0;
	width: 45%;
	transition: all 1s ease;
	z-index: 1;
}
#main .scroll-right {
	right: 0;
	width: 62%;
	transition: all 1s ease;
	z-index: 1;
}
#main .scroll-up {
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	width: 32%;
	transition: all 1s ease;
}
@media screen and (max-width:767px) {
	#main .scroll-left {
		left: -30%;
		width: 90%;
	}
	#main .scroll-right {
		right: -67%;
		width: 120%;
	}
	#main .scroll-up {
		bottom: 5%;
	}
}
/* #main CSS [E] */

/* #section1 CSS [S] */

/* #section1 [E] */

/* #section2 CSS [S] */
#section2 .img-wrap {
	position: relative;
	left:0;
	bottom:0;
	width:100%;
	height: 100%;
}
#section2 .sec2-bg {
	position: absolute;
	bottom:0;
}
#section2 .frog-wrap {
	min-width: 100px;
	max-width: 380px;
	width:20%;
	position: absolute;
	bottom: 10%;
	left: -10%;
	animation: frogAni 10s infinite linear;
	z-index: -1;
}
@keyframes frogAni {
	0% {
		left:-10%;
	}
	100% {
		left:110%;
	}
}

#section2 .monkey-wrap {
	min-width: 80px;
	max-width: 170px;
	width:8%;
	position: absolute;
	bottom: 17%;
	left: 78%;
	rotate:-15deg;
	animation: monkeyAni1 3s infinite;
	z-index: -1;
}
@keyframes monkeyAni1 {
	0% {
		bottom: 17%;
	}
	50% {
		bottom: 30%;
	}
	100% {
		bottom: 17%;
	}
}
#section2 .mobilever { display : none;}
@media screen and (max-width:767px) {
	#section2 .pcver {display:none;}
	#section2 .mobilever {display:block;}

	#section2 .img-wrap {
		position: relative;
		width:100%;
		height: 100%;
	}
	#section2 .sec2-bg1 {
		width:90%;
		top:15%;
	}
	#section2 .sec2-bg2 {
		width:50%;
		top:40%;
		right:0;
	}
	#section2 .sec2-bg2 img {
		position: absolute;
		right:0;
	}
	#section2 .sec2-bg3 {
		width:80%;
		left:50%;
		transform: translateX(-50%);
	}
	#section2 .frog-wrap {
		max-width: none;
		width:30%;
		position: absolute;
		top: 20%;
		left: -10%;
		animation: frogAni 10s infinite linear;
		z-index: -1;
	}
	@keyframes frogAni {
		0% {
			left:-10%;
		}
		100% {
			left:110%;
		}
	}
	
	#section2 .monkey-wrap {
		max-width: none;
		width:5%;
		position: absolute;
		bottom: 47%;
		left: 40%;
		rotate:-15deg;
		animation: monkeyAni1 3s infinite;
		z-index: -1;
	}
	@keyframes monkeyAni1 {
		0% {
			bottom: 47%;
		}
		50% {
			bottom: 64%;
		}
		100% {
			bottom: 47%;
		}
	}
}
/* #section2 [E] */

/* #section3 CSS [S] */
#section3 .writer-wrap {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
#section3 .intro {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 80px;
}
#section3 .intro:first-child .writer-img::after {
	content: "";
	display: block;
	background: url(../images/main/section3-writer_deco1.png) no-repeat 0 0 / cover;
	width: 80%;
	height: auto;
	aspect-ratio: 1 / 1;
	position: absolute;
	right: -55px;
	top: -20px;
	z-index: -1;
}
#section3 .intro:nth-child(2) .writer-img::before {
	content: "";
	display: block;
	background: url(../images/main/section3-writer_deco2.png) no-repeat 0 0 / cover;
	width: 80%;
	height: auto;
	aspect-ratio: 1 / 1;
	position: absolute;
	left: -70px;
	top: 35px;
}
#section3 .writer-img {
	max-width: 160px;
	min-width:160px;
	position: relative;
}
#section3 .writer-desc {
	font-size: 14px;
	max-width: 700px;
	white-space: warp;
}
#section3 .writer-desc dt {
	font-size: 20px;
	margin-bottom: 16px;
}
#section3 .writer-desc dt span {
	font-size: 14px;
}
#section3 .writer-desc dd {
	line-height: 1.4;
}
@media screen and (max-width:1200px) and (min-width:787px) {

}
@media screen and (max-width:767px) {
	#section3 {
		height:300vh;
	}
	#section3 .writer-wrap {
		gap:0;
	}
	#section3 .intro {
		height: 100vh;
		flex-direction: column;
		justify-content: center;
		gap: 80px;
		text-align: center;
	}
	#section3 .writer-desc {
		width: 100%;
		padding:0 34px;
		box-sizing: border-box;
	}
	#section3 .writer-desc dt {
		margin-bottom: 70px;
	}
	#section3 .writer-desc dd {
		text-align: justify;
		line-height:1.6 ;
		white-space: wrap;
	}
}
/* #section3 [E] */

/* #section4 CSS [S] */
#section4 .intro-wrapper {
	width:100%;
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
#section4 .intro-wrap {
	display: flex;
	justify-content: space-between;
}
#section4 .book-wrap {
	width: 350px;
}
#section4 .book-desc {
	width: 850px;
	font-weight: 500;
}
#section4 .book-desc p:first-child {
	font-size: clamp(1.125rem, 0.875rem + 0.5208vw, 1.5rem);
	line-height: 40px;
}
#section4 .book-desc p:last-child {
	font-size: clamp(0.75rem, 0.5833rem + 0.3472vw, 1rem);
	line-height: 32px;
}
#section4 .deco-wrap {
	position: relative;
	width: 100%;
	height: 40%;
	bottom: 0;
}
#section4 .sec4-deco1 {
	max-width: 660px;
	width: 100%;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}
#section4 .sec4-deco2 {
	position: absolute;
	width: 90px;
	left: 22%;
	bottom: 52%;
	z-index: -1;
	animation: monkeyAni2 3s infinite;
}
@keyframes monkeyAni2 {
	0% {
		bottom: 52%;
	}
	50% {
		bottom: 66%;
	}
	100% {
		bottom: 52%;
	}
}

@media screen and (max-width:767px) {
	#section4 {
		height:200vh;
	}
	#section4 .intro-wrapper {
		width:100%;
		justify-content: center;
	}
	#section4 .intro-wrap {
		flex-direction: column;
		gap:70px;
	}
	#section4 .book-wrap {
		width:60%;
		margin:0 auto;
	} 
	#section4 .book-desc {
		width:100%;
		padding: 0 40px;
		box-sizing: border-box;
	}
	#section4 .book-desc p:first-child {
		font-size: clamp(1rem, 0.7789rem + 0.9828vw, 1.25rem);
		text-align: center;
		line-height: 40px;
		display: flex;
		flex-direction: column;
		gap:70px;
		margin-bottom:20px;
	}
	#section4 .book-desc p:last-child {
		font-size: clamp(0.75rem, 0.5289rem + 0.9828vw, 1rem);
	}
	#section4 .sec4-deco1 {
		width: 120%;
		margin: 0 auto;
	}
	#section4 .sec4-deco2 {
		width:20%;
		left:23%;
		bottom: 50%;
		animation: monkeyAni2 3s infinite;
	}
	@keyframes monkeyAni2 {
		0% {
			bottom: 50%;
		}
		50% {
			bottom: 63%;
		}
		100% {
			bottom: 50%;
		}
	}
}
/* #section4 [E] */

/* #section5 CSS [S] */
#section5 .pcver {
	position: relative;
	width: 100%;
}
#section5 .gameImg-wrap {
	width:100%;
	height:auto;
}
#section5 .gameImg-wrap img {
	filter: brightness(.2);
}
#section5 .letterImg {
	max-width: 160px;
	min-width: 80px;
	width:15%;
	max-height: 100px;
	min-height: 40px;
	height:15%;
	position: absolute;
	left: 7%;
	top: 63%;
	background-image: url(../images/main/section5-letter.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 50%;
	animation: brightLetter 2s infinite;
	transform-origin: 50% 50%;
}

@keyframes brightLetter {
	0% {
		background-image: url(../images/main/section5-letter.png);
	}
	50% {
		background-image: url(../images/main/section5-letter-shadow.png);
	}
	100% {
		background-image: url(../images/main/section5-letter.png);
	}
}
#section5 .typing-effect {
	position: absolute;
	top:20%;
	left:50%;
	transform: translateX(-50%);
	font-family: "BookkMyungjo-Lt";
	font-weight: 300;
	color: var(--typingFontColor);
	display: inline-flex;
	border: 1px solid #ec303a;
	border-left: none;
	border-right: none;
	padding: 4px 0;
}
#section5 .typing-effect .type-wrap {
	border: 1px solid #ec303a80;
	min-width: 60px;
	min-height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#section5 .typing-effect .type-wrap span {
	font-size: clamp(1.75rem, 1.25rem + 1.0417vw, 2.5rem);
	opacity: 0;
}
#section5 .typing-effect .type-wrap span.show {
	opacity: 1;
	transition: opacity .5s ease-in-out;
}

#section5 .sub-title {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
	font-family: "Cafe24Shiningstar";
	font-size: clamp(1.25rem, 0.9167rem + 0.6944vw, 1.75rem);
	color: var(--subtitleFontColor);
	letter-spacing: 5px;
	text-wrap:nowrap;
}
#section5 .btn-start {
	position: absolute;
	left:50%;
	top:80%;
	transform: translateX(-50%);
}
#section5 .mobilever {display:none;}
@media screen and (min-width:1400px) and (max-width:1600px){
	#section5 .typing-effect {
		scale: .7;
		transform-origin: 0 0 ;
	}
}
@media screen and (min-width:768px) and (max-width:1400px) {
	#section5 .typing-effect {
		scale: .5;
		transform-origin: 0 0 ;
	}
}

@media screen and (max-width:767px) {
	#section5 .pcver {display:none;}
	#section5 .mobilever {
		display:flex;
		flex-direction: column;
		width:100%;
		justify-content: center;
		align-items: center;
		gap:15px;
	}
	#section5 .typing-effect {
		margin-top: 0px;
	}
	#section5 .typing-effect .type-wrap {
		border: 1px solid #ec303a80;
		min-width: 28.5px;
		min-height: 33px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#section5 .typing-effect .type-wrap span {
		font-size: clamp(1rem, 0.7789rem + 0.9828vw, 1.25rem);
		opacity: 0;
	}
	#section5 .sub-title {
		color: var(--blackFontColor);
		font-size: clamp(0.9375rem, 0.7717rem + 0.7371vw, 1.125rem);
		text-align: center;
		margin-top: 0;
		margin-bottom: 0;
	}
	#section5 .gameImg-wrap {
		position: relative;
		width:100%;
		height: auto;
		top:0;
		background: none;
		width: 100%;
		text-align: center;
	}
	#section5 .letterImg {
		min-width: 60px;
		width: 15%;
		height: auto;
		aspect-ratio: 2 / 1 ;
		position: absolute;
		left: 7%;
		top: 60%;
		background-image: url(../images/main/section5-letter.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 0 0;
		animation: brightLetter 2s infinite;
	}
}

/* #section5 [E] */
